
/* Your CSS Code here. */
 body{
        }
.container-fluid{
            display: flex;
			flex-direction: column;
            justify-content: space-evenly;
			gap: 20px;
        }
.row{
	        display: flex;
            justify-content: space-evenly;
			gap: 20px;
}
  